li {
  list-style: none;
}

.header {
  background-color: black;
  padding: 32px;
}

.header ul {
  color: white;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

#header_logo {
  color: white;
}

.header_links {
  display: flex;
  flex: 1;
  gap: 12px;
  padding-right: 32px;
  justify-content: flex-end;
}

.header_links a {
  text-decoration: none;
  color: white;
}

#attract-picture {
  width: 100%;
  height: 220px;
  flex: 2 1 0%;
}
.attract {
  background-color: cadetblue;
  display: flex;
  padding: 79px;
}

.description {
  margin-right: 74px;
  margin-left: 74px;
  flex: 1 1 0%;
}

.attract h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.attract p {
  font-size: 24px;
  color: #e5e7eb;
}

.footer {
  display: flex;
  background-color: #504f4d;
  color: white;
  justify-content: center;
}

.preview_pictures {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.preview_pictures .img_container img {
  flex: 0;
  height: 200px;
  width: auto;
  border-radius: 25px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  justify-self: center;
}

.mid_section h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.caption {
  display: block;
  text-align: center;
  margin-top: 8px;
}

.inspiring_quote h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

.inspiring_quote p {
  text-align: end;
  display: block;
}

.inspiring_quote {
  padding: 72px;
  background-color: #d1d4e3;
}
